{extend name="index/common" /}

{block name="title"}关于我们{/block}

{block name="head_limit"}
  <div class="head2">
{/block}

{block name="dao_hang"}
  <li><a href="<{:url('Index/index')}>" target="_blank">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
  <li><a href="<{:url('Index/about')}>" target="_blank" id="hover_m">关于我们</a></li>
  <li><a href="<{:url('Index/honour')}>" target="_blank">团队风采</a></li>
  <li><a href="<{:url('Index/goods')}>" target="_blank">产品展示</a></li>
  <li><a href="<{:url('Index/news')}>" target="_blank">新闻中心</a></li>
  <li><a href="<{:url('Index/an_li')}>" target="_blank">案例展示</a></li>
  <li><a href="<{:url('Index/ren_cai')}>" target="_blank">人才加盟</a></li>
  <li><a href="<{:url('Index/about')}>" target="_blank">联系我们</a></li>
  <div class="clear"></div>
{/block}

{block name="content_text"}
  <div class="mid_con"><!--中间内容开始-->
<div class="dingwei"><a href="#">首页</a>><a href="#">关于我们</a></div>
<div class="about">
  <div class="about_le floatl">
    <div class="about_le_top">关于我们</div>
    <div class="about_le_bot">
      <ul>
        <li><a href="#" target="_blank" id="hov">公司简介</a></li>
        <li><a href="#" target="_blank">企业文化</a></li>
        <li><a href="#" target="_blank">联系我们</a></li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div class="about_ri floatr">
    <div class="about_ri_top">公司简介</div>
    <div class="about_ri_bot">
      <p>好医生药业集团创立于1998年，秉承"做好人，制好药"的企业理念，恪守医药行业本质，致力于医药制造、中药材种（养）植和中药饮片生产，现成为拥有四川成都、绵阳、西昌、山西大同和运城五个制药生产基地、7家GMP制药厂的现代化药业集团。</p>
      <p>集团位居中国成长百强企业第32位，成为中国最具公信力品牌之一，"好医生"商标为中国驰名商标，品牌市值已超百亿，品牌深入人心，品质更是无可挑剔有着非常广泛的忠实消费群体。</p>
      <p><b>2010年荣获"中国制药行业百强影响力品牌企业"，</b></p>
      <p><b>2011年荣获"中国中药企业百强"；</b></p>
      <p><b>2012年荣获"中国制药企业百强"</b></p>
      <p><b>2014年中国医药制造企业55强企业</b></p>
      <div class="tu"><img src="tupian/logo_3.jpg" width="683" height="132"></div>
      <p>云南好医生药业作为系列贴牌产品的销售公司，围绕"普药品种品牌化、品类结构专业化、投资经营自主化"的运营理念，公司于2013年4月正式开始运营，高管团队及市场销售团队均来自国内知名医药企业，有着丰富的市场推广、终端运营及团队管理培训等实战经验。公司使用"好医生"和"优克苏"两大商标，秉承"好人、好药、好医生"和"优质、优品、优克苏"的理念，产品涉及10余个大品类，50多个品规，并在感冒发热类、肠胃类、止咳化痰类、补益安神类构建了产品集群，在市场竞争中形成有效区隔，有着极强的核心竞争力。</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
</div><!--中间内容结束-->
{/block}
