<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>产品详情</title>
<link href="css/public.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top"><!--顶部开始-->
  <div class="top_yssl">
    <div class="top_con">
      <div class="top_con_le floatl">
        <b>您好，欢迎光临云南好医生！</b>
        <span>新浪微博</span>
        <small>腾讯微博</small>
      </div>
      <div class="top_con_ri floatr">
        <div class="denglu floatl"><a href="#" target="_blank">登录</a></div>
        <div class="fuwu floatr">服务热线：<span>0871-68337029</span></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div><!--顶部结束-->
<div class="head2"><!--头部开始-->
  <div class="header_nav"><!--头部加导航-->
    <div class="header">
      <div class="header_le floatl">
        <div class="logo floatl"><img src="images/logo.png" width="339" height="66"></div>
        <div class="futu floatr"><img src="images/yiqun.png" width="238" height="25"></div>
        <div class="clear"></div>
      </div>
      <div class="header_ri floatr">
        <div class="shuru floatl"><input type="text" onClick="if(this.value=='请输入搜索的关键字'){this.value=''}" onBlur="if(this.value==''){this.value='请输入搜索的关键字'}" value="请输入搜索的关键字"/></div>
        <div class="sousuo floatr"><input type="button" value="搜索"/></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="nav"><!--导航开始-->
      <div class="nav_ysll">
        <ul>
          <li><a href="#" target="_blank">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
          <li><a href="#" target="_blank">关于我们</a></li>
          <li><a href="#" target="_blank">团队风采</a></li>
          <li><a href="#" target="_blank" id="hover_m">产品展示</a></li>
          <li><a href="#" target="_blank">新闻中心</a></li>
          <li><a href="#" target="_blank">案例展示</a></li>
          <li><a href="#" target="_blank">人才加盟</a></li>
          <li><a href="#" target="_blank">联系我们</a></li>
          <div class="clear"></div>
        </ul>
      </div>
    </div><!--导航结束-->
  </div><!--头部加导航结束-->
</div><!--头部结束-->
<div class="mid_con"><!--中间内容开始-->
  <div class="dingwei"><a href="#">首页</a>><a href="#">案例展示</a>><a href="#">产品详情</a></div>
  <div class="about">
    <div class="anli_le floatl"><!--左边详情-->
      <div class="anli_le_top">
        <div class="goods_le_top_zuo floatl"><img src="tupian/goods1da.jpg" width="199" height="199"></div>
        <div class="goods_le_top_you floatr">
          <h4>阿胶补血膏</h4>
          <p>发布时间：2015-08-24</p>
          <p>功能主治：补血</p>
          <span>155</span>
          <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date())];</script>
        </div>
        <div class="clear"></div>
      </div>
      <div class="anli_le_bot">
        <div class="anli_le_bot_top">产品详情</div>
        <div class="anli_le_bot_bot">
          <div class="double_top">
            <p>商品名称： 宝宝一贴灵 丁桂儿脐贴 3贴  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商品编号：011002754301 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;批准文号：国药准字国药准字B20020882 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商品品牌：亚宝 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计价单位：盒 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剂型：贴膏 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规格：3贴 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 生产厂家：山西亚宝药业集团股份有限公司</p>
            <p>【功能主治】健脾温中,散寒止泻。适用于小儿泄泻,腹痛的辅助治疗。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【规 格】每贴重1.6克 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【用法用量】外用。贴于脐部,一次1贴,24小时换药一次。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【不良反应】皮肤粘贴处偶见过敏反应。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【禁 忌】脐部疾患者禁用。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【注意事项】 1.丁桂儿脐贴为外用药,禁止内服;皮肤破溃处禁用。 2.忌食生冷油腻及不易消化食物。  3.婴儿应在医师指导下使用。  4.感染性腹泻如肠炎、痢疾等疾病应去医院就诊。 5.在应用贴膜后如发现脐  8.丁桂儿脐贴性状发生改变时禁止使用。  9.儿童必须在成人监护下使用。   10.请将丁桂儿脐贴放在儿童不能接触的地方。</p>
          </div>
          <div class="double_bot2">
            <ul>
              <li><img src="tupian/goods_nei.jpg" width="146" height="146"></li>
              <li><img src="tupian/goods_nei.jpg" width="146" height="146"></li>
              <li><img src="tupian/goods_nei.jpg" width="146" height="146"></li>
              <li><img src="tupian/goods_nei.jpg" width="146" height="146"></li>
              <li><img src="tupian/goods_nei.jpg" width="146" height="146"></li>
              <div class="clear"></div>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div><!--左边详情结束-->
    <div class="anli_ri_1 floatr"><!--右边相关-->
      <div class="anli_ri_top_1">相关产品</div>
      <div class="goods_ri_bot_1">
        <ul>
          <li><a href="#"><img src="tupian/goods_xg.jpg" width="124" height="124"></a><p><a href="#">感冒灵颗粒</a></p></li>
          <li><a href="#"><img src="tupian/goods_xg.jpg" width="124" height="124"></a><p><a href="#">感冒灵颗粒</a></p></li>
          <li><a href="#"><img src="tupian/goods_xg.jpg" width="124" height="124"></a><p><a href="#">感冒灵颗粒</a></p></li>
          <li><a href="#"><img src="tupian/goods_xg.jpg" width="124" height="124"></a><p><a href="#">感冒灵颗粒</a></p></li>
          <li><a href="#"><img src="tupian/goods_xg.jpg" width="124" height="124"></a><p><a href="#">感冒灵颗粒</a></p></li>
          <li><a href="#"><img src="tupian/goods_xg.jpg" width="124" height="124"></a><p><a href="#">感冒灵颗粒</a></p></li>
        </ul>
      </div>
    </div><!--右边相关结束-->
    <div class="clear"></div>
  </div>  
</div><!--中间内容结束-->
<div class="foot">
  <div class="foot_top">
    <div class="foot_top_con">
      <b>友情链接：</b>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
    </div>
  </div>
  <div class="foot_bot">
    <div class="foot_bot_le floatl">版权所有：云南好医生药业有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：郑州七七网络科技有限公司</div>
    <div class="foot_bot_ri floatr">
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date())];</script>
    </div>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>
