{extend name="index/common" /}

{block name="title"}团队风采{/block}

{block name="head_limit"}
<div class="head2">
  {/block}

  {block name="dao_hang"}
  <li><a href="<{:url('Index/index')}>" target="_blank">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
  <li><a href="<{:url('Index/about')}>" target="_blank">关于我们</a></li>
  <li><a href="<{:url('Index/honour')}>" target="_blank" id="hover_m">团队风采</a></li>
  <li><a href="<{:url('Index/goods')}>" target="_blank">产品展示</a></li>
  <li><a href="<{:url('Index/news')}>" target="_blank">新闻中心</a></li>
  <li><a href="<{:url('Index/an_li')}>" target="_blank">案例展示</a></li>
  <li><a href="<{:url('Index/ren_cai')}>" target="_blank">人才加盟</a></li>
  <li><a href="<{:url('Index/about')}>" target="_blank">联系我们</a></li>
  <div class="clear"></div>
  {/block}
  {block name="content_text"}
  <div class="mid_con"><!--中间内容开始-->
    <div class="dingwei"><a href="#">首页</a>><a href="#">团队风采</a></div>
    <div class="about">
      <div class="tdfcai">
        <ul>
          <li>
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬居民照片该证书市成本成本弄司法扣扣居民店里照法扣芬居民店里照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬居民照片该证书市成本弄司法扣扣萨芬店里照片该证书市成本弄司法扣扣居民店里照法扣芬居民店里照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
          <li style="border-right:none;">
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬居民照片该证书市成本弄司法扣扣萨芬店里照片该证书市成本弄司法扣扣居民店里照法扣芬居民店里照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬居民照扣居民店里照法扣芬居民店里照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬居民照片该证书市成本弄司法扣扣萨芬店里照片该证书市成本弄司法里照法扣芬居民店里照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
          <li style="border-right:none;">
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬居民照片该证书市成本弄司法扣扣萨芬店里照片该证书市成本弄司法扣扣居民店里照法扣芬居民店里照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬居民照片该证书市成本弄司法扣法扣扣居民店里照法扣芬居民店里照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬店里照片该证书市成本弄司法扣扣居民店里照法扣芬居民店里照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
          <li style="border-right:none;">
            <div class="tdfcai_le floatl"><img src="tupian/tuancai.jpg" width="215" height="135"></div>
            <div class="tdfcai_ri floatr">
              <b>风采图片</b>
              <p>该证书市成本弄司法扣扣萨芬居民照片该照店里照片该证书市成</p>
            </div>
            <div class="clear"></div>
          </li>
        </ul>
      </div>
      <div class="fenye"><!--分页开始-->
        <div class="fenyetubiao floatl"><a href="#"><img src="images/fenye1.png" width="15" height="15"></a></div><!--第一页-->
        <div class="fenyetubiao2 floatl"><a href="#"><img src="images/fenye2.png" width="15" height="17"></a></div><!--上一页-->
        <div class="yeshu floatl">
          <div class="floatl">
            <a href="#">1</a></div><div class="floatl"><a href="#">2</a></div><div class="floatl"><a href="#">3</a></div><div class="floatl"><a href="#">4</a></div><div class="floatl"><a href="#">5</a></div><div class="floatl"><a href="#">6</a></div><div class="floatl"><a href="#">7</a></div><div class="floatl"><a href="#">8</a></div><div class="floatl"><a href="#">9</a></div><div class="floatl"><a href="#">10</a>
        </div>
        </div>
        <div class="fenyetubiao2 floatl"><a href="#"><img src="images/fenye3.png" width="16" height="17"></a></div><!--下一页-->
        <div class="fenyetubiao floatl"><a href="#"><img src="images/fenye4.png" width="15" height="15"></a></div><!--末页-->
      </div><!--分页结束-->
    </div>
  </div><!--中间内容结束-->
  {/block}

