<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>人才加盟详情</title>
<link href="css/public.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top"><!--顶部开始-->
  <div class="top_yssl">
    <div class="top_con">
      <div class="top_con_le floatl">
        <b>您好，欢迎光临云南好医生！</b>
        <span>新浪微博</span>
        <small>腾讯微博</small>
      </div>
      <div class="top_con_ri floatr">
        <div class="denglu floatl"><a href="#" target="_blank">登录</a></div>
        <div class="fuwu floatr">服务热线：<span>0871-68337029</span></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div><!--顶部结束-->
<div class="head2"><!--头部开始-->
  <div class="header_nav"><!--头部加导航-->
    <div class="header">
      <div class="header_le floatl">
        <div class="logo floatl"><img src="images/logo.png" width="339" height="66"></div>
        <div class="futu floatr"><img src="images/yiqun.png" width="238" height="25"></div>
        <div class="clear"></div>
      </div>
      <div class="header_ri floatr">
        <div class="shuru floatl"><input type="text" onClick="if(this.value=='请输入搜索的关键字'){this.value=''}" onBlur="if(this.value==''){this.value='请输入搜索的关键字'}" value="请输入搜索的关键字"/></div>
        <div class="sousuo floatr"><input type="button" value="搜索"/></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="nav"><!--导航开始-->
      <div class="nav_ysll">
        <ul>
          <li><a href="#" target="_blank">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
          <li><a href="#" target="_blank">关于我们</a></li>
          <li><a href="#" target="_blank">团队风采</a></li>
          <li><a href="#" target="_blank">产品展示</a></li>
          <li><a href="#" target="_blank">新闻中心</a></li>
          <li><a href="#" target="_blank">案例展示</a></li>
          <li><a href="#" target="_blank" id="hover_m">人才加盟</a></li>
          <li><a href="#" target="_blank">联系我们</a></li>
          <div class="clear"></div>
        </ul>
      </div>
    </div><!--导航结束-->
  </div><!--头部加导航结束-->
</div><!--头部结束-->
<div class="mid_con"><!--中间内容开始-->
  <div class="dingwei"><a href="#">首页</a>><a href="#">人才加盟</a>><a href="#">人才加盟详情</a></div>
  <div class="about">
    <div class="about_le floatl">
      <div class="rencai_le_top"><img src="images/lianxi_tu.jpg" width="230" height="95"></div>
      <div class="rencai_le_bot">
        <b>云南好医生药业有限公司</b>
        <p>电话：0871-68337029</p>
        <p>邮箱：1741942463@qq.com</p>
        <p>地址：云南省昆明市五华区海源北路丽阳新城农贸市场外铺B-9号</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="about_ri floatr"><!--案例列表开始-->
      <div class="about_ri_top">诚聘全国各省区OTC大包经理</div>
      <div class="rencai_con2">
        <b>职位类别：销售类 省区经理</b>
        <p>1、熟悉OTC终端运作，并具备短期内组建全省终端销售团队能力</p>
        <p>2、有一定的资金实力，并具备一定的省内终端网络优势</p>
        <p>3、具备较强的团队管理，及团队培训能力</p>
        <p>4、具备较强的终端推广及市场策划及终端客户培训能力 </p>
        <p>5、积极乐观，敢于承担，乐于挑战新目标</p>
        <img src="tupian/rcjm.jpg" width="970" height="314">
      </div>
    </div><!--案例列表结束-->
    <div class="clear"></div>
  </div>  
</div><!--中间内容结束-->
<div class="foot">
  <div class="foot_top">
    <div class="foot_top_con">
      <b>友情链接：</b>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
      <a href="#" target="_blank">中国医药网</a>
    </div>
  </div>
  <div class="foot_bot">
    <div class="foot_bot_le floatl">版权所有：云南好医生药业有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：郑州七七网络科技有限公司</div>
    <div class="foot_bot_ri floatr">
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date())];</script>
    </div>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>
